$dark_blue: #030D4A;
$yellow: #E5FA00;
$green: #82DB04;
$gray: #333333;

$text-color: #FFFFFF;

$board-width: 800px;

//TODO: Make standard background stuff into an extendable module

body {
	margin: 0;
	padding: 0;
	background-color: $dark_blue;
	width: 100%;
}

.board {
	max-width: $board-width;
	width: 100%;
	background-color: #000000;
	border: 5px inset $dark_blue;
	color: $text-color;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 200px;
}

.row {
	clear: both;
}

.tile {
	width: 10%;
	float: left;
	position: relative;
	background-color: #000000;

	&.player {
		background: url( '/assets/images/alien-2.png' );
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	&.bomb {
		background: url( '/assets/images/bomb-1.png' );
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	&::before {
		content: "+";
		display: block;
		position: absolute;
		color: $gray;
		top: -.5em;
		left: -.5em;
	}

	&::after {  
		content: "";
  		display: block;
  		padding-bottom: 100%;
	}
}

.controls {
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: $board-width;
	margin-left: auto;
	margin-right: auto;
	color: $text-color;

	.control-button {
		width: 20%;
		float: left;
		background-color: red;
		height: 100px;

		&.up {
			background: url( 'assets/images/button-up.png' );
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}

		&.down {
			background: url( 'assets/images/button-down.png' );
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}

		&.left {
			background: url( 'assets/images/button-left.png' );
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}

		&.right {
			background: url( 'assets/images/button-right.png' );
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}

		&.bomb {
			background: url( 'assets/images/button-bomb.png' );
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}
