@font-face {
  font-family: 'Chewy';
  font-style: normal;
  font-weight: 400;
  src: local('Chewy'), url('/assets/style/chewy.woff') format('woff');
}

$dark_blue: #030D4A;
$yellow: #E5FA00;
$green: #0CBD0E;
$gray: #808080;
$dark-gray: darken( $gray, 20% );
$red: #F00;
$dark-red: #900;

$text-color: #FFFFFF;

$board-width: 90%;

body {
	margin: 0;
	padding: 0;
	background-color: $dark_blue;
	width: 100%;
	font-family: chewy, sans-serif;
    	-webkit-touch-callout: none;
    	-webkit-user-select: none;
    	-khtml-user-select: none;
    	-moz-user-select: none;
    	-ms-user-select: none;
    	user-select: none;
}

#game {
	background-color: $gray;
}

.is-hidden {
	display: none;
}

.board {
	width: 80%;
	background-color: #000000;
	color: $text-color;
	overflow: hidden;
	margin-left: 5%;
	margin-bottom: 111px;
	margin-top: 60px;
	position: relative;
}

.row {
	clear: both;
}

.scroll-button-container {

	position: fixed;
	right: 5%;
	top: 65px;
	width: 10%;
	height: 100%;
	background-color: $dark-gray;
	padding-top: 10px;

	.scroll-button {
		height: 65px;
		width: 100%;
		background-color: red;
		cursor: pointer;

		&.up {
			border-top: 10px solid $dark-red;
			border-bottom: 1px solid $dark-red;

			&:active {
				border-top: 5px solid $dark-red;
				margin-top: 5px;
			}
		}

		&.down {
			border-bottom: 10px solid $dark-red;
			border-top: 1px solid $dark-red;

			&:active {
				border-bottom: 5px solid $dark-red;
			}
		}

		&:active {
			background-color: $dark-red;
		}
	}
}

#menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.main-menu {
	width: $board-width;
	margin-left: auto;
	margin-right: auto;
	background-color: $dark-blue;
	position: relative;

	.logo {
		color: $yellow;
		text-shadow: 5px 5px $red;
		font-size: 36px;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
	}

	.avatar-select {
		width: 270px;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
	}

	.avatar-option {
		width: 90px;
		height: 90px;
		background-color: #000000;
		float: left;
		opacity: .3;
		cursor: pointer;

		&.available {
			opacity: 1;
		}
	}

	.instruction {
		text-align: center;
		color: $gray;
	}
}

.avatar-1 {
	background: url( '/assets/images/alien-1.png' );
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.avatar-2 {
	background: url( '/assets/images/alien-2.png' );
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.avatar-3 {
	background: url( '/assets/images/alien-3.png' );
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.avatar-4 {
	background: url( '/assets/images/alien-4.png' );
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.avatar-5 {
	background: url( '/assets/images/alien-5.png' );
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.avatar-6 {
	background: url( '/assets/images/alien-6.png' );
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.avatar-7 {
	background: url( '/assets/images/alien-7.png' );
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.avatar-8 {
	background: url( '/assets/images/alien-8.png' );
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.avatar-9 {
	background: url( '/assets/images/alien-9.png' );
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.nav-bar-container {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: $gray;
}

.nav-bar {
	color: $text-color;
	height: 50px;
	width: 100%;
	max-width: $board-width;
	margin-left: auto;
	margin-right: auto;
	background: $gray;
	border-bottom: 10px solid $dark-gray;
	position: relative;

	.timer {
		color: $green;
		font-size: 22px;
		line-height: 30px;
		font-weight: bold;
		background-color: #000000;
		text-align: right;
		padding-right: 10px;
		width: 35px;
		margin-top: 5px;
		border: 5px solid $dark-gray;
	}

	.remaining-moves {
		position: absolute;
		right: 0;
		top: 0;
		text-align: right;
		font-size: 18px;
		line-height: 30px;
		height: 30px;
		font-weight: bold;
		color: $red;
		background-color: #000000;
		padding-right: 10px;
		width: 35px;
		border: 5px solid $dark-gray;
	}
}

.tile {
	width: 10%;
	float: left;
	position: relative;
	background-color: #000000;

	&.bomb.remaining-3 {
		background: url( '/assets/images/bomb-1.png' );
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	&.bomb.remaining-2 {
		background: url( '/assets/images/bomb-2.png' );
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	&.bomb.remaining-1 {
		background: url( '/assets/images/bomb-3.png' );
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	.score {
		position: absolute;
		bottom: 5px;
		right: 10px;
	}

	&::before {
		content: "+";
		display: block;
		position: absolute;
		color: $gray;
		top: -.5em;
		left: -.5em;
	}

	&::after {  
		content: "";
  		display: block;
  		padding-bottom: 100%;
	}
}

.controls-container {
	background-color: $gray;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 2;

	.controls {
		$button_bg: $red;
		width: 100%;
		max-width: $board-width;
		margin-left: auto;
		margin-right: auto;
		color: $text-color;
		border-top: 10px solid $dark-gray;

		.control-button-container {
			width: 15%;
			float: left;
			margin-left: 3.5%;
			
			.control-button {

				width: 80%;
				margin-left: 10%;
				margin-right: 10%;
				margin-top: 20px;
				margin-bottom: 20px;
				background: red;
				height: 60px;
				border-top: 3px solid $dark-red;
				cursor: pointer;

				&.up {
					background: $button_bg url( '/assets/images/button-up.png' );
					background-size: 35%;
					background-position: center;
					background-repeat: no-repeat;
				}

				&.down {
					background: $button_bg url( '/assets/images/button-down.png' );
					background-size: 35%;
					background-position: center;
					background-repeat: no-repeat;
				}

				&.left {
					background: $button_bg url( '/assets/images/button-left.png' );
					background-size: 35%;
					background-position: center;
					background-repeat: no-repeat;
				}

				&.right {
					background: $button_bg url( '/assets/images/button-right.png' );
					background-size: 35%;
					background-position: center;
					background-repeat: no-repeat;
				}

				&.bomb {
					background: $button_bg url( '/assets/images/button-bomb.png' );
					background-size: 40%;
					background-position: center;
					background-repeat: no-repeat;
				}

				&:active {
					background-color: $dark-red;
					border-top: none;
				}
			}
		}
	}
}

.game-over {
	background-color: $dark_blue;
	color: $red;
	text-align: center;
	text-transform: uppercase;
	line-height: 100px;
	padding: 40px;
	
	.message {
		line-height: 100px;
		background-color: #000000;
		color: $green;
		border: 10px solid $gray;
		max-width: $board_width;
		margin-left: auto;
		margin-right: auto;
		font-size: 36px;
	}


	.link {
		background-color: $red;
		border-top: 10px solid $dark_red;
		margin-top: 20px;
		font-size: 36px;
		max-width: $board_width;
		margin-left: auto;
		margin-right: auto;

		a {
			color: $text_color;
			text-decoration: none;
		}
	}

}
